*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.everything{
    width: 1200px; 
    margin: auto; 
    background-color: lightgray;
}

/* header */

.container-header{
    height: 100px;
    padding: 5px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin-right: 20px;
    color: gray;
    font-size: 25px;
}
/* Primo container */

.container-1{
    margin-top: 15px;
    background-image:url("../img/banner.jpg");
    background-color: #FEEBE4;
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: contain;
    border-radius: 20px;
    height: 600px;
}

/* Container blu, che contiene i float */

h1{
    color: black;
    font-weight: bold;
    font-size: 50px;
}
.container-2{
    margin-top: 15px;
    height: 500px;
    background-color: blue;
    color:gray;
}

.container-2 > *{
    background-color: rgb(175, 247, 250);
}

/* Parte float */
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.fl-top{
    float:left;
    width: 1200px;
    height: 100px;
}

.fl-left{
    float: left;
    margin-top:10px;
    margin-right: 10px;
    height: 380px;
    width: 230px;
}
.fl-center{
    float: left;
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 380px;
    width: 700px;
}
.fl-right{
    float: right;
    margin-top: 10px;
    height: 380px;
    width: 230px;
}

/* Footer */
footer{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 193, 255);
    font-size: 15px;
}

#heart{
    color: red;
}